@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
}
body {
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
}
img {
    width: 600px;
    margin-top: 150px;
}
a {
    text-decoration: none;
    background-color:#0cc0df;
    margin: 10px;
    border: solid 0px;
    border-radius: 30px;
    color: white;
}
.cadastroCliente {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.cadastroPet {
    padding: 40px;
}
.consulta {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
}
main {
    display: flex;
    flex-direction: column;
}
.container {
    margin-top: 100px;
}
.apresentacao {
    margin-top: 30px;
}