<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta clientes</title>
    <link rel="stylesheet" href="/static/css/consultaclientes.css">
    <script src="/static/js/app.js"></script>
</head>
<body>
    <head>
        <a href="/">
            <img src="../static/images/PetConnect.png" alt="logo">
        </a>
        <h1>Clientes Cadastrados</h1>
    </head>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody id="clientes-table-body">
                
            </tbody>
        </table>
    </main>
</body>
</html>