<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetConnect</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <img src="../static/images/PetConnect.png" alt="logo">
    </header>

    <main>
        <section class="apresentacao">
            <span>Bem vindo (a) ao sistema de cadastro e gerenciamento de clientes da PetConnect.</span>
        </section>
        <section class="container">
            <a href="/clientes" class="cadastroCliente">Cadastro do Cliente</a>
            <a href="/pets" class="cadastroPet">Cadastro do Pet</a>
            <a href="/consultaclientes" class="consulta">Consulta Clientes</a>
            <a href="/consultapets" class="consulta">Consulta Pets</a>
        </section>
    </main>

</body>
</html>